@charset "utf-8";

*{margin:0; padding:0;}
li {list-style-type:none;}
 a {text-decoration:none; color:#000;}
 a:hover {text-decoration:underline;}
 img {vertical-align:middle; border:none;} /*이미지에 생기는 1px정도의 차이를 없애주기위해 버티컬 사용*/
 body {font-size:16px; font-family:arial; width:100%; height:auto; overflow-x:hidden ;}
 
 @media screen and  (min-width:780px) and (max-width:1200px){
    
    #wrap{background-color: #E8E8E8;}
    #header { width:100%; height:200px; background-color: #E8E8E8;}

        /*로고*/    
        #logo { 
                margin: 10px;
                height: 70px;
            }

        /*네비게이션*/
        .gnb {
            margin: 130px 0 0 20px;
            display: none;
        }

        /*addClass*/
        .gnb.open {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            z-index: 8888;
        }
            .gnb li {       
                margin-top: 20px;     
                display: block;
                margin-right: 40px;
            }
                .gnb li a {
                    font-weight: bold;
                    font-size: 35px;
                    color: #fff;
                }
                .gnb li:hover a {
                    color: #FF7E4B;
                }
        .sns { display: none; }
        
                /*햄버거 버튼*/
                .hamBtn, .hamBtn span {
                    display: inline-block;
                    transition: all 0.4s;
                    box-sizing: border-box;
                        }
                    
                        .hamBtn {
                            clear:both;
                            position: absolute; /*span의 기준이 되기 때문에 absolute로 설정하면 span의 위치가 틀어져 스크립트 효과가 나타나지 않는다*/
                            top: 10px;
                            right: 5%;
                            width: 50px;
                            height: 44px;
                            z-index: 9999;/*h1보다 높거나 같지 않으면 스크립트 효과가 나타나지 않음*/
                        }
                    
                            .hamBtn span {
                                position: absolute;
                                left: 0;
                                width: 100%;
                                height: 4px;
                                background-color: #000;
                                border-radius: 4px;
                            }
                            .hamBtn span:nth-of-type(1) { top: 0; }
                            .hamBtn span:nth-of-type(2) { top: 20px; }
                            .hamBtn span:nth-of-type(3) { bottom: 0; }
                            
                            /*active-1의 addClass*/
                            .hamBtn.active-1 span:nth-of-type(1) { transform: translateY(20px) rotate(-45deg); }
                            .hamBtn.active-1 span:nth-of-type(2) { opacity: 0; }
                            .hamBtn.active-1 span:nth-of-type(3) { transform: translateY(-20px) rotate(45deg); }
                        
                            .hamBg {
                            background-color: #001F3F;
                            position: fixed;
                            top: 0;
                            right: -100%;
                            z-index: 7777;
                            width: 100%;
                            height: 100vh;
                        }
                        .bar {
                            position:fixed; 
                            bottom:0px; 
                            right:0; 
                            z-index: 9999;
                            }        
    #container{}
        /* content1 */
        .content1{}
                        
            .video{
                width: 100%;
                margin: 0 auto;
                text-align: center;}         
                
        .content2{ 
            width: 100%; 
            height: 100vh;
            letter-spacing: auto;
            position: relative;}    
        
            .content2 h2{ 
                position: absolute; 
                top:40%;
                left: 5%;
                font-size: 25px;}
            .content2 p{
                position: absolute; 
                top:45%; 
                left: 5%;
                font-size: 25px;
                margin-top: 50px;}
                 
        /* content3 */
        .content3{ 
            width: 90%;
            height: 100vh;
            margin-left: 120px;
           }  

            #con3Ment {
                height: 100vh;
                position: relative;
                top:100px;
                font-size: 60px;
                letter-spacing: -5px;
                transform: 'translateY(-20px)';
               
            }
                
                #con3Ment img {
                    position: absolute;
                    top: -200px;
                    left:0px;
                    width: 900px;
                    border-radius: 20px;
                }
                
                #con3Ment p {
                    position: absolute;
                    top:330px;
                    text-align: center;
                    margin-left:120px;
                    font-size: 50px;
                }
                    #smart{}
                    #smart2{
                        margin-top: 100px;
                        left: 90px;
                    }
                
            .appButton{display: none;}


     /* content4 */
     .content4 {
        height: auto;
        margin-top: 100px;
        text-align: center;
        padding: 100px 0;
        
    }
        
        .content4 ul {
            width: 100%;
            height: 1200px;
            margin-top: 30px;
            text-align: center;
            position: relative;
        }
        
        .countMent {
            padding-top: 50px;
            transform: 'translateY(-20px)'
        }
        .countMent img{
            height: 70px;
        }
        
        .content4 ul p span {
            font-weight: bold;
            font-size: 35px;
        }
        
        .content4 p {
            color: rgb(0, 0, 0);
        }
        
        .content4 li {
            height: 200px;
            display: block;
            color: white;
            font-size: 45px;
            margin: 100px;
            position: relative;
        }
        
        .content4 li h1 {
            color: #FF7E4B;
        }
        
        .plus {
            position: absolute;
            top: -5px;
            right: 25%;
            font-size: 80px;
            color: #000;
        }
        
        .content4 li p {
            font-size: 25px;
        }
        
        .content4 ul p {
            font-size: 30px;
        }
        
        .content4 ul p span {
            font-weight: bold;
        }
        #line{display: none;}        
         
    /* content5 */
    .content5 {
        width: 100%;
        text-align: center;
        padding: 30px 0;
        background-color: #000;
    }
    
    .content5 h1 {
        color: #fff;
        font-size: 50px;
        margin-bottom: 30px;
    }
    
    .brandImg {
        display: block;
        justify-content: center; /* 이미지를 가운데 정렬 */
        list-style: none; /* 기본 리스트 스타일 제거 */
        padding: 0;
    }
    
    .brandImg li {
       margin-left: 30%;
    }
    
    .img-container {
        position: relative;
        width: 450px;
        height: 500px;
        overflow: hidden; /* 텍스트가 이미지 밖으로 나오지 않도록 설정 */
    }
    
    .img-container img {
        width: 100%;
        height: 100%;
        transition: opacity 0.5s ease; /* 이미지 흐려짐 애니메이션 */
        border-radius: 2px;
    }
    
    .text-overlay {
        position: absolute;
        bottom: -100px; /* 텍스트가 처음에는 화면 아래로 숨김 */
        width: 90%;
        text-align: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.7); /* 텍스트 배경을 반투명 검정으로 설정 */
        padding: 20px;
        transition: bottom 0.5s ease; /* 텍스트 슬라이드 애니메이션 */
        border: 1px solid #fff;
        border-radius: 10px;
    }
    
    .text-overlay p {
        margin: 0;
        font-size: 18px;
    }


    #footer{ clear: both; background-color: #000000; position: relative; text-align: center;}
        #foot { 
            color: #fff; 
            height: 150px;  
            padding: 20px 0 0 20px; }
            #foot ul { margin-bottom: 10px; }
            #foot ul li{display: inline;}
            #foot ul li a{ color: #fff; }
                .flfl li {margin-right: 20px;}
                .flfl li.bold {font-weight: bold; text-decoration: underline;}
                #foot span{ font-size: 16px; display: inline;}
                address{
                    text-align: center;
                    color: rgb(255, 255, 255);
                    position: relative;
                    top:40px;
                }
 };